.App {
  text-align: center;
}

.moonboard {
    z-index: -1;
    position: absolute;
    top: -40px;
    left: 355px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}


.hold {
    width: 35px;
    min-width: 20px;
    height: 35px;
    min-height: 20px;
    background-color: aquamarine;
    margin: 0px;
    opacity: 0.5;
}

.hold.start {
    background-color: green;
}

.hold.intermediate {
    background-color: blue;
}

.hold.end {
    background-color: red;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }